.navbar {
    
    
    
    background-color: rgba(0, 57, 115, 1);
    height: 120px;
    

}

.logo {
    margin-left: 23%;
    margin-bottom: 10px;
}

.navheading {
    color: #eee;
    display: inline-block;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
}

.langdiv {
    color: white;
    background-color: rgb(39, 22, 194);
    font-size: 10px;
    padding: 2px;
    display: inline-block;
}

.languages {
    color: white;
    background-color: black;
    font-size: 10px;
    padding: 2px;
    display: inline-block;
    margin-right: 2px;
}

ul , li {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    color: #eee;
    font-weight: bold;

    
}
.childtwo {
    margin-top: 28px;
    
}

.exp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #036;
    margin: 30px 0;
    letter-spacing: -0.08px;
}

.carousel2 {
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    margin-right: 5px;
}

.card-title{
    color: white;
    
}

.bluebutton {
    background-color: #036; 
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 0px 40% 0px 40%
    /* align-items: center;
    justify-content: center; */
  }

.coloreddiv {
    background-color: rgb(219, 217, 217);
    height: 600px;
}

.topexp {
    color: #036;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 500;
}

.gallery {
    margin-left: 15%;
    margin-right: 15%;
}
.float {
    float: right;
}

.parentmid {
    /* max-width: 100%; */
    /* margin: auto; */
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 2px;
    /* grid-template-columns: repeat(4,2fr); */
    /* grid-auto-rows: 200px; */
    /* background-color: rgb(184, 109, 11); */

}

.parentmid img {
    width: 100%;
}

.fixed-bg {
    background-image: url("6.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topg {
    color: #eee;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
}

.parent5 {
    /* max-width: 100%; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 25px;
    /* grid-template-columns: repeat(4,2fr); */
    /* grid-auto-rows: 200px; */
    /* background-color: rgb(184, 109, 11); */

}

.parent5 img {
    width: 100%;
}

.list2 {
    display: inline-block;
    text-align: center;
    
}

.twoopt {
    display: flex;
    margin-right: 20%;
}

.left {
    margin-right: 10%px;
    color: #036;
    margin-left: 10%;
}

.right {
    margin-left: 30%;
    color: #036;
}

#myVideo {
    height: 800px;
    padding-bottom: 0;
    margin-bottom: 0;
}


.coloreddiv2 {
    background-color: rgb(219, 217, 217);
    height: 700px;
}
.gallery2 {
    margin-left: 15%;
    margin-right: 15%;
}

.parentmid2 {
    /* max-width: 100%; */
    /* margin: auto; */
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 2px;
    /* grid-template-columns: repeat(4,2fr); */
    /* grid-auto-rows: 200px; */
    /* background-color: rgb(184, 109, 11); */

}

.parentmid2 img {
    width: 100%;
}

.topexp2 {
    color: #036;
    text-align: center;
    font-weight: 400;
}

.iconblue {
    background-color: #036;
    padding: 10px;
    border-radius: 50%;
    display: inline-flexbox;
}

.opt1 {
    height: 100px;
    width: 100px;
    margin: 20px;
    
}

.flexcont {
    display: flex;

}

.searchbox {
    background-color: #eee;
    height: 130px;
    padding: 50px;
    margin-left: 40%;
    margin-right: 40%;

}
.p-hotel{
    display: inline-block;
    color: #036;
    margin-left: 150px;
    margin-right: 50px;
    font-size: 20px;
}

.search-hotel {
    height: 40px;
    border: none;
    width: 400px;
    padding: 20px;
    margin-right: 20px;
}

.searchbox {
    margin-top: 80px;
}

.parent6 {
    /* max-width: 100%; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-gap: 25px; */
    /* grid-template-columns: repeat(4,2fr); */
    /* grid-auto-rows: 200px; */
    /* background-color: rgb(184, 109, 11); */

}

.parent6 img {
    width: 100%;
}

.icon-container {
    margin-left: 20%;
    margin-right: 20%;
}

.icon-img {
    width: 70px;
    margin-left: 40px;
}

.icon-btm {
    text-align: center;
    color: #036;
    font-size: 20px;
}

.hastag {
    color: skyblue;
}

.iframer {
    margin-left: 15%;
    margin-right: 15%;
}

.footer {
    background-color:#eee;
    width: 100%;
    height: 800px;
    padding-bottom: 0%;
}

.f-des {
    display: block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: gray;
}

.f-des:hover {
    display: block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.f-head {
    display: block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 82, 82);
}


.f-div {
    width: 13%;
    display: inline-block;
    margin-left: 25px;
    margin-top: 28px;
    margin-bottom: 30px;
}